@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,500&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	outline: none;
	border: none;
	text-decoration: none;
}
/* * NAVBAR */

/* *navbar logo */
#earth {
	width: 22px;
	height: 22px;
}

.nav-link {
	font-size: 1.2rem;
}

.navbar-brand {
	font-size: 1.5rem;
}

#logo-brand {
	font-family: "Montserrat", sans-serif;
}

/* *MAIN BODY */

.hero-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.start-with-yourself:hover {
	transform: scale(1.1);
	transition: all 0.2s ease-in-out;
}

#aboutUs-section {
	max-width: 40rem;
	margin: 0 auto;
	padding: 5px;
}

#aboutUs img {
	width: 60px;
	height: 60px;
}

#mission-vision {
	display: flex;
}

#vision {
	flex: 1;
}

#mission {
	flex: 1;
}

.acme {
	font-family: "Acme", sans-serif;
}

.montserrat {
	font-family: "Montserrat", sans-serif;
}

.sub-section .left {
	width: 50%;
}

.sub-section .right {
	width: 50%;
}

.box {
	/* border: 1px solid black; */
	width: 10rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* * PROBLEMS */
#more {
	display: none;
}

#more2 {
	display: none;
}

#more3 {
	display: none;
}

#more4 {
	display: none;
}

#more5 {
	display: none;
}

/* * FOOTER */
.social-icons i:hover {
	transform: scale(1.2);
	transition: all 0.2s ease-in-out;
}

.terms p {
	margin: 0;
	padding: 0;
}

#terms-policy {
	font-size: 13px;
	font-weight: 600;
}

.newsletter {
	vertical-align: middle;
}

.newsletter input {
	max-width: 25rem;
}

#donation-section {
	margin: 0 auto;
	width: 80%;
}

/* * MEDIA QUERIES */

/* * small screen */
@media (max-width: 576px) {
	nav {
		width: 100%;
	}

	.hero-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hero-section h1 {
		width: 100%;
	}

	.hero-section img {
		width: 100%;
	}

	.sub-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.sub-section .right,
	.sub-section .left {
		width: 100%;
	}

	.sub-section img {
		width: 100%;
		text-align: center;
	}

	.illustations .box {
		display: block;
	}
}
/* *medium screen */
@media (max-width: 768px) {
	.hero-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#hero-sub {
		width: 100%;
	}

	.sub-section {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.sub-section h1 {
		text-align: center;
	}

	.sub-section .right,
	.sub-section .left {
		width: 100%;
	}

	.sub-section img {
		text-align: center;
	}

	#donation-section button {
		width: 100%;
	}
}

@media (max-width: 992px) {
	nav {
		width: 100%;
	}
	.hero-section {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.hero-section h1 {
		width: 50%;
	}

	.hero-section img {
		width: 50%;
	}
}

/* * problems */
@media (max-width: 768px) {
	#problems .even {
		display: flex;
		flex-direction: column-reverse;
	}
}

/* *start with yourself */
@media (max-width: 768px) {
	.yourself {
		display: flex;
		flex-direction: column;
	}
}

/* * about us */
@media (max-width: 768px) {
	#mission-vision {
		display: flex;
		flex-direction: column;
	}
}

/* * FOOTER */

@media (max-width: 768px) {
	footer .upper-section {
		display: flex;
		flex-direction: column;
	}
}
