@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,500&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	outline: none;
	border: none;
	text-decoration: none;
}
/* * NAV-BRAND */
#earth {
	width: 22px;
	height: 22px;
}

.nav-link {
	font-size: 1.3rem;
}

/* .nav-link:hover {
	text-decoration: underline;
} */

.navbar-brand {
	font-size: 1.5rem;
}

#logo-brand {
	font-family: "Montserrat", sans-serif;
}

/* .content-body {
	height: 100vh;
} */

/* *MAIN BODY */

.hero-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* #problems img {
	width: 100%;
} */

/* .hero-section img {
	width: 300px;
	margin: 0 auto;
}

.hero-section h1 {
	width: 100%;
	text-align: center;
} */

.start-with-yourself:hover {
	transform: scale(1.2);
	transition: all 0.2s ease-in-out;
}

#aboutUs img {
	width: 60px;
	height: 60px;
}

/* * FOOTER */
.social-icons i:hover {
	transform: scale(1.1);
	transition: all 0.2s ease-in-out;
}

/* * index html */
@media (max-width: 520px) {
	.hero-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 520px) {
	#problems .even {
		display: flex;
		flex-direction: column-reverse;
	}
}
