@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	outline: none;
	border: none;
	text-decoration: none;
	transition: 0.2s linear;
}
/* 
.navbar-brand {
	font-size: 1.7rem;
}

.navbar-nav a {
	font-size: 1.3rem;
}

form input,
form label {
	font-size: 1.3rem;
} */
